In [112]:
#Libraries
import pandas as pd
import numpy as np

In [113]:
#Importing data
customer= pd.read_csv("customer_test.csv")
order=pd.read_csv("orders_test.csv")
store=pd.read_csv("store_test.csv")

In [114]:
customer.head()

   id  first_name last_name                        email
0   1        Sara   Ramirez         samantha67@yahoo.com
1   2      Joshua   Jimenez   richardtimothy@hotmail.com
2   3      Nicole   Navarro  nicholsonwilliam@valdez.net
3   4        John  Anderson     jenniferhowell@yahoo.com
4   5  Alexandria  Alvarado   sjohnston@young-brewer.biz

In [116]:
order.head()

   id  total  customer_id  store_id  order_date
0   1  19.36           21         1  2020-03-03
1   2   8.85           88         8  2020-04-02
2   3   5.53           41         3  2020-03-03
3   4  12.90           96         8  2020-03-15
4   5   8.19           25         7  2020-01-21

In [117]:
store.head()

   id                       name                                      address
0   1                 Valdez Inc  18321 Joseph Lodge\nChristineland, NH 69026
1   2               Stevens-Barr             Unit 0902 Box 4445\nDPO AE 19637
2   3                 Taylor Ltd     3433 Hill Forest\nCharlesmouth, KY 16037
3   4  Adams, Barrett and Thomas             Unit 5633 Box 1666\nDPO AA 06032
4   5           Edwards-Mcdaniel       2426 Holly Isle\nJefferytown, WA 97681

In [118]:
order['customer_id'].value_counts() # customer order count

22    19
91    17
36    16
52    16
43    16
      ..
47     6
19     5
13     5
44     5
5      4
Name: customer_id, Length: 100, dtype: int64

In [119]:
#creating dataframe with count of orders y customer
temp_df = pd.DataFrame(order['customer_id'].value_counts())
temp_df = temp_df.T
temp_df

,22,91,36,52,43,95,35,60,4,41,...,84,66,61,64,8,47,19,13,44,5
customer_id,19,17,16,16,16,15,15,15,15,14,...,6,6,6,6,6,6,5,5,5,4

In [120]:
# substituting the count of assignment group in the data
order['Count_cust'] = order.apply(lambda row: temp_df[row['customer_id']] , axis=1)

In [121]:
#Merging customer, order and store details
cust_ord_merge = pd.merge(customer, order, left_on='id', right_on='id')
cust_ord_merge=pd.merge(cust_ord_merge,store,left_on='store_id',right_on='id')

In [122]:
cust_ord_merge.head()

,id_x,first_name,last_name,email,total,customer_id,store_id,order_date,Count_cust,id_y,name,address
0,1,Sara,Ramirez,samantha67@yahoo.com,19.36,21,1,2020-03-03,10,1,Valdez Inc,"18321 Joseph Lodge\nChristineland, NH 69026"
1,36,Breanna,Conley,wstone@gmail.com,21.84,9,1,2020-04-18,13,1,Valdez Inc,"18321 Joseph Lodge\nChristineland, NH 69026"
2,43,Karina,Reid,vegakelly@moore-walters.info,5.90,50,1,2020-02-29,11,1,Valdez Inc,"18321 Joseph Lodge\nChristineland, NH 69026"
3,48,Linda,Kelley,jason51@gmail.com,12.96,78,1,2020-04-06,13,1,Valdez Inc,"18321 Joseph Lodge\nChristineland, NH 69026"
4,49,Candice,Green,levyjoy@hotmail.com,29.07,50,1,2020-02-11,11,1,Valdez Inc,"18321 Joseph Lodge\nChristineland, NH 69026"

In [123]:
#Filtering orders less than 10
cust_df=cust_ord_merge[cust_ord_merge['Count_cust']<10]
cust_df

,id_x,first_name,last_name,email,total,customer_id,store_id,order_date,Count_cust,id_y,name,address
5,56,Christopher,Smith,carpenterjoshua@mcdonald-price.org,20.93,47,1,2020-03-18,6,1,Valdez Inc,"18321 Joseph Lodge\nChristineland, NH 69026"
7,70,Ryan,Terrell,carsondaniel@yahoo.com,14.15,23,1,2020-04-11,7,1,Valdez Inc,"18321 Joseph Lodge\nChristineland, NH 69026"
8,89,Meredith,French,farrelllawrence@yahoo.com,1.82,25,1,2020-01-23,8,1,Valdez Inc,"18321 Joseph Lodge\nChristineland, NH 69026"
13,10,James,Washington,ashleysnow@gmail.com,15.39,86,8,2020-04-20,7,8,"Martinez, Marsh and Gomez","1434 Shelby Streets Apt. 134\nWest Austin, SD ..."
16,61,Lisa,Mckay,nicolas18@herrera.com,29.34,84,8,2020-04-30,6,8,"Martinez, Marsh and Gomez","1434 Shelby Streets Apt. 134\nWest Austin, SD ..."
17,80,Jennifer,Collins,kimberlycole@adams.net,20.37,85,8,2020-01-07,6,8,"Martinez, Marsh and Gomez","1434 Shelby Streets Apt. 134\nWest Austin, SD ..."
18,87,Megan,Barton,thompsontracey@garcia-bailey.biz,21.45,84,8,2020-04-18,6,8,"Martinez, Marsh and Gomez","1434 Shelby Streets Apt. 134\nWest Austin, SD ..."
19,91,Stacey,Beard,paulday@brooks-patrick.com,27.69,20,8,2020-04-16,9,8,"Martinez, Marsh and Gomez","1434 Shelby Streets Apt. 134\nWest Austin, SD ..."
22,26,Jonathon,White,michael10@hotmail.com,17.65,63,3,2020-01-16,6,3,Taylor Ltd,"3433 Hill Forest\nCharlesmouth, KY 16037"
26,65,Steven,Richard,howard63@gonzalez.info,16.42,70,3,2020-02-19,6,3,Taylor Ltd,"3433 Hill Forest\nCharlesmouth, KY 16037"
28,84,Regina,Barber,qjackson@hill-ball.org,11.07,61,3,2020-01-08,6,3,Taylor Ltd,"3433 Hill Forest\nCharlesmouth, KY 16037"
29,90,Jeremy,Shaw,charlesfleming@yahoo.com,25.05,59,3,2020-04-15,9,3,Taylor Ltd,"3433 Hill Forest\nCharlesmouth, KY 16037"
30,5,Alexandria,Alvarado,sjohnston@young-brewer.biz,8.19,25,7,2020-01-21,8,7,Hall Inc,23446 Brittney Isle Apt. 423\nSouth Victoriabe...
33,18,Nicholas,Williams,cwebb@hotmail.com,4.08,57,7,2020-03-12,9,7,Hall Inc,23446 Brittney Isle Apt. 423\nSouth Victoriabe...
36,55,Charles,Martin,dchristensen@brown.com,23.62,89,7,2020-04-07,9,7,Hall Inc,23446 Brittney Isle Apt. 423\nSouth Victoriabe...
37,6,Frederick,Strickland,ramirezcharles@turner-burns.com,15.46,83,10,2020-05-03,8,10,Young Group,"43149 Richard Ferry Apt. 278\nEast Kristopher,..."
38,13,Melvin,Stone,pamelamyers@newman.info,17.89,11,10,2020-01-26,7,10,Young Group,"43149 Richard Ferry Apt. 278\nEast Kristopher,..."
41,31,Robert,Salazar,donnamorris@wise-tucker.info,9.42,68,10,2020-02-19,8,10,Young Group,"43149 Richard Ferry Apt. 278\nEast Kristopher,..."
43,40,Jason,Moore,lisa30@russell-francis.com,11.51,33,10,2020-04-18,8,10,Young Group,"43149 Richard Ferry Apt. 278\nEast Kristopher,..."
48,86,Joanna,Terry,aprilwilliams@yahoo.com,15.96,53,10,2020-02-11,9,10,Young Group,"43149 Richard Ferry Apt. 278\nEast Kristopher,..."
51,7,Wayne,Long,willie18@yahoo.com,10.30,33,2,2020-02-21,8,2,Stevens-Barr,Unit 0902 Box 4445\nDPO AE 19637
52,20,Angela,Taylor,staffordkimberly@gmail.com,29.81,62,2,2020-01-20,7,2,Stevens-Barr,Unit 0902 Box 4445\nDPO AE 19637
53,50,Rhonda,Allen,xavier86@yahoo.com,3.11,57,2,2020-01-13,9,2,Stevens-Barr,Unit 0902 Box 4445\nDPO AE 19637
57,8,Tanya,Holmes,hlucas@boyer.com,24.34,53,9,2020-02-05,9,9,"Henderson, Olson and Ward","05994 Johnson Extensions\nPort Sarah, KS 44328"
58,12,Katherine,Johnson,ericgilbert@gmail.com,11.22,28,9,2020-02-05,7,9,"Henderson, Olson and Ward","05994 Johnson Extensions\nPort Sarah, KS 44328"
60,22,Victoria,Romero,othompson@thomas.com,5.75,19,9,2020-04-10,5,9,"Henderson, Olson and Ward","05994 Johnson Extensions\nPort Sarah, KS 44328"
62,60,Elizabeth,Little,hernandezzachary@hotmail.com,3.57,25,9,2020-02-27,8,9,"Henderson, Olson and Ward","05994 Johnson Extensions\nPort Sarah, KS 44328"
63,72,Johnny,Campbell,tracywells@brown.com,0.50,33,9,2020-01-11,8,9,"Henderson, Olson and Ward","05994 Johnson Extensions\nPort Sarah, KS 44328"
64,73,Charles,Randall,ihall@gmail.com,6.21,48,9,2020-01-16,9,9,"Henderson, Olson and Ward","05994 Johnson Extensions\nPort Sarah, KS 44328"
65,78,Tanya,Jones,arnoldlisa@gmail.com,2.53,39,9,2020-04-04,8,9,"Henderson, Olson and Ward","05994 Johnson Extensions\nPort Sarah, KS 44328"
68,17,Brooke,Mullins,gentryspencer@hernandez-jacobs.net,10.44,14,4,2020-03-22,8,4,"Adams, Barrett and Thomas",Unit 5633 Box 1666\nDPO AA 06032
74,47,Jennifer,Jones,eowens@scott.com,6.07,20,4,2020-04-26,9,4,"Adams, Barrett and Thomas",Unit 5633 Box 1666\nDPO AA 06032
77,68,Thomas,Montgomery,abigailfrost@gillespie-francis.com,8.29,39,4,2020-03-17,8,4,"Adams, Barrett and Thomas",Unit 5633 Box 1666\nDPO AA 06032
78,81,Kevin,Gibbs,ojones@waller.org,1.94,77,4,2020-01-27,7,4,"Adams, Barrett and Thomas",Unit 5633 Box 1666\nDPO AA 06032
84,59,Heather,Dennis,melissa24@rodriguez-carey.biz,13.15,77,5,2020-02-18,7,5,Edwards-Mcdaniel,"2426 Holly Isle\nJefferytown, WA 97681"
85,82,Michael,Alexander,alandominguez@yahoo.com,15.26,72,5,2020-01-12,8,5,Edwards-Mcdaniel,"2426 Holly Isle\nJefferytown, WA 97681"
86,88,Christopher,Diaz,christinemcguire@yahoo.com,1.48,75,5,2020-04-05,7,5,Edwards-Mcdaniel,"2426 Holly Isle\nJefferytown, WA 97681"
89,39,David,Collins,terri55@cooper-turner.com,12.13,84,6,2020-01-24,6,6,Scott-Brown,"11406 Carroll Road\nBurchstad, OK 90814"
90,42,Maurice,Howell,jennifersheppard@yahoo.com,0.47,59,6,2020-01-17,9,6,Scott-Brown,"11406 Carroll Road\nBurchstad, OK 90814"
93,54,Katherine,Jones,claudiabond@hotmail.com,18.01,15,6,2020-01-23,9,6,Scott-Brown,"11406 Carroll Road\nBurchstad, OK 90814"
94,58,Timothy,Caldwell,tina37@barker.com,29.19,44,6,2020-01-31,5,6,Scott-Brown,"11406 Carroll Road\nBurchstad, OK 90814"
99,83,Brian,Riley,lauren30@gmail.com,10.34,90,6,2020-01-10,7,6,Scott-Brown,"11406 Carroll Road\nBurchstad, OK 90814"

In [124]:
#creating a dataframe
final_df=pd.DataFrame()
final_df['First name']=cust_df['first_name']
final_df['Last name']=cust_df['last_name']
final_df['Email']=cust_df['email']
final_df['Orders Placed by User']=cust_df['total'] #Assuming orders placed by user is total amount

In [125]:
#Encrypt using MD5
df_copy=final_df.copy()
import hashlib
val=[]
for i in df_copy['Email']:
    val.append(hashlib.md5(i.encode('utf-8')))

In [126]:
val

[<md5 HASH object @ 0x000001D63EEC6270>,
 <md5 HASH object @ 0x000001D63EEFD9D0>,
 <md5 HASH object @ 0x000001D63EEFDDD0>,
 <md5 HASH object @ 0x000001D63EEFD630>,
 <md5 HASH object @ 0x000001D63EEFD770>,
 <md5 HASH object @ 0x000001D63EEC6F10>,
 <md5 HASH object @ 0x000001D63EEFDF90>,
 <md5 HASH object @ 0x000001D63EEFD350>,
 <md5 HASH object @ 0x000001D63EEFD970>,
 <md5 HASH object @ 0x000001D63EEFD930>,
 <md5 HASH object @ 0x000001D63EEFD450>,
 <md5 HASH object @ 0x000001D63EEFD290>,
 <md5 HASH object @ 0x000001D63EEFD5F0>,
 <md5 HASH object @ 0x000001D63EEFD6B0>,
 <md5 HASH object @ 0x000001D63EEFD670>,
 <md5 HASH object @ 0x000001D63EEFD7B0>,
 <md5 HASH object @ 0x000001D63EEFD870>,
 <md5 HASH object @ 0x000001D63EEFD8B0>,
 <md5 HASH object @ 0x000001D63EEFD7F0>,
 <md5 HASH object @ 0x000001D63EEFD9B0>,
 <md5 HASH object @ 0x000001D63EEFD9F0>,
 <md5 HASH object @ 0x000001D63EEFD6F0>,
 <md5 HASH object @ 0x000001D63EEFDA70>,
 <md5 HASH object @ 0x000001D63EEFDAB0>,
 <md5 HASH object @ 0x000001D63EEFDAF0>,
 <md5 HASH object @ 0x000001D63EEFDB30>,
 <md5 HASH object @ 0x000001D63EEFDB70>,
 <md5 HASH object @ 0x000001D63EEFDBB0>,
 <md5 HASH object @ 0x000001D63EEFDBF0>,
 <md5 HASH object @ 0x000001D63EEFDC30>,
 <md5 HASH object @ 0x000001D63EEFDC70>,
 <md5 HASH object @ 0x000001D63EEFDCB0>,
 <md5 HASH object @ 0x000001D63EEFDCF0>,
 <md5 HASH object @ 0x000001D63EEFDD30>,
 <md5 HASH object @ 0x000001D63EEFDD70>,
 <md5 HASH object @ 0x000001D63EEFDDB0>,
 <md5 HASH object @ 0x000001D63EEFDDF0>,
 <md5 HASH object @ 0x000001D63EEFDE30>,
 <md5 HASH object @ 0x000001D63EEFDE70>,
 <md5 HASH object @ 0x000001D63EEFDEB0>,
 <md5 HASH object @ 0x000001D63EEFDEF0>,
 <md5 HASH object @ 0x000001D63EEFDF30>]

In [127]:
df_copy['Email']=val

In [128]:
#Exporting the file
df1=df_copy.to_csv('csv_2.csv', index=False)

In [98]:
#funtion for month variable
def mapper(month):
    return month.strftime('%B')

In [56]:
# creating year, month variable
cust_ord_merge['order_date'] = pd.to_datetime(cust_ord_merge['order_date'])
cust_ord_merge['year'] = cust_ord_merge['order_date'].dt.year
#cust_ord_merge['month'] = cust_ord_merge['order_date'].dt.month
cust_ord_merge['month']=cust_ord_merge['order_date'].apply(mapper)

In [57]:
cust_ord_merge.head()

,id_x,first_name,last_name,email,total,customer_id,store_id,order_date,id_y,name,address,year,month
0,1,Sara,Ramirez,samantha67@yahoo.com,19.36,21,1,2020-03-03,1,Valdez Inc,"18321 Joseph Lodge\nChristineland, NH 69026",2020,March
1,36,Breanna,Conley,wstone@gmail.com,21.84,9,1,2020-04-18,1,Valdez Inc,"18321 Joseph Lodge\nChristineland, NH 69026",2020,April
2,43,Karina,Reid,vegakelly@moore-walters.info,5.90,50,1,2020-02-29,1,Valdez Inc,"18321 Joseph Lodge\nChristineland, NH 69026",2020,February
3,48,Linda,Kelley,jason51@gmail.com,12.96,78,1,2020-04-06,1,Valdez Inc,"18321 Joseph Lodge\nChristineland, NH 69026",2020,April
4,49,Candice,Green,levyjoy@hotmail.com,29.07,50,1,2020-02-11,1,Valdez Inc,"18321 Joseph Lodge\nChristineland, NH 69026",2020,February

In [81]:
#aggregating using group by
grp_df=cust_ord_merge.groupby(['year','month','name']).agg({'id_x':'count','total':'sum'}).reset_index().rename(columns={'id_x':'Number of Orders','total':'Total Revenue'})
grp_df

    year     month                       name  Number of Orders  Total Revenue
0   2020     April  Adams, Barrett and Thomas                 5          39.49
1   2020     April           Edwards-Mcdaniel                 4          30.67
2   2020     April                   Hall Inc                 4          58.58
3   2020     April  Henderson, Olson and Ward                 2           8.28
4   2020     April  Martinez, Marsh and Gomez                 5         102.72
5   2020     April                Scott-Brown                 1          29.97
6   2020     April               Stevens-Barr                 1          15.45
7   2020     April                 Taylor Ltd                 3          44.87
8   2020     April                 Valdez Inc                 3          48.95
9   2020     April                Young Group                 3          42.54
10  2020  February  Adams, Barrett and Thomas                 3          41.03
11  2020  February           Edwards-Mcdaniel                 1          13.15
12  2020  February                   Hall Inc                 1          20.58
13  2020  February  Henderson, Olson and Ward                 4          68.90
14  2020  February  Martinez, Marsh and Gomez                 2          23.52
15  2020  February               Stevens-Barr                 1          10.30
16  2020  February                 Taylor Ltd                 3          57.73
17  2020  February                 Valdez Inc                 3          53.15
18  2020  February                Young Group                 4          77.77
19  2020   January  Adams, Barrett and Thomas                 2          17.54
20  2020   January           Edwards-Mcdaniel                 2          26.59
21  2020   January                   Hall Inc                 1           8.19
22  2020   January  Henderson, Olson and Ward                 3          34.42
23  2020   January  Martinez, Marsh and Gomez                 1          20.37
24  2020   January                Scott-Brown                 8          86.41
25  2020   January               Stevens-Barr                 2          32.92
26  2020   January                 Taylor Ltd                 2          28.72
27  2020   January                 Valdez Inc                 2          18.11
28  2020   January                Young Group                 3          62.90
29  2020     March  Adams, Barrett and Thomas                 3          37.90
30  2020     March           Edwards-Mcdaniel                 1          10.72
31  2020     March                   Hall Inc                 1           4.08
32  2020     March  Martinez, Marsh and Gomez                 2          26.15
33  2020     March                Scott-Brown                 1          15.10
34  2020     March               Stevens-Barr                 2          25.46
35  2020     March                 Taylor Ltd                 2          25.81
36  2020     March                 Valdez Inc                 2          40.29
37  2020     March                Young Group                 3          27.40
38  2020       May  Adams, Barrett and Thomas                 1          28.91
39  2020       May  Henderson, Olson and Ward                 1          16.84
40  2020       May                Scott-Brown                 1           2.65
41  2020       May                Young Group                 1          15.46

In [83]:
#Exporting the file
df=grp_df.to_csv('csv_1.csv', index=False)